@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

:root {
  --mobile: 375px;
  --desktop: 1440px;

  /* Primary */
  --strongCyan: hsl(172, 67%, 45%);

  /* Neutral */
  --darkCyan: hsl(183, 100%, 15%);
  --grayCyan: hsl(184, 14%, 56%);
  --darkGrayCyan: hsl(186, 14%, 43%);
  --lightGrayCyan: hsl(185, 41%, 84%);
  --veryLightGrayishCyan: hsl(189, 41%, 97%);

  --borderRadius: 1.9rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  background-color: var(--darkCyan);
  border-radius: 0.5rem;
  border: none;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  transition: background-color 0.25s;
}

button:active {
  scale: 0.98;
}

input {
  cursor: pointer;
}

label {
  position: relative;
  font-size: 1.6rem;
}

html {
  font-size: 10px;
  font-family: "Space Mono", sans-serif;
}

body {
  background-color: var(--lightGrayCyan);

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2.4rem;
  min-height: 100vh;
  position: relative;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 7rem;

  margin-bottom: 6rem;
}

.calculator {
  background-color: white;
  border-radius: var(--borderRadius);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  height: 48rem;
  width: 92rem;
  padding: 3rem;
}

.input__container {
  color: var(--darkGrayCyan);
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  justify-content: space-evenly;
  padding: 0 2rem;
}

.bill__container,
.people__container {
  position: relative;
}

.bill__input,
.people__input {
  background-color: var(--veryLightGrayishCyan);
  border-radius: 0.5rem;
  border: none;
  color: var(--grayCyan);
  display: block;
  font-family: inherit;
  font-size: 2.6rem;
  height: 5.2rem;
  outline: none;
  padding: 1rem 2rem 1rem 4rem;
  text-align: end;
  width: 100%;
}

.bill__input::placeholder,
.people__input::placeholder {
  color: var(--grayCyan);
}

.bill__input:focus,
.people__input:focus,
.tip__custom:focus {
  outline: 2px solid var(--strongCyan);
}

.bill__input.error,
.people__input.error {
  border: 2px solid orange;
  outline: none;
}

.zero {
  color: orange;
  display: none;
  position: absolute;
  right: 0;
}

.zero.show {
  display: inline-block;
}

.dollar--logo,
.people--logo {
  margin-left: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1.3rem;
}

.tip__container {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  margin: 2rem 0;
  row-gap: 2rem;
}

.tip__options {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.tip__button {
  font-family: inherit;
  font-size: 2.4rem;
  height: 5rem;
  text-align: center;
  width: 100%;
}

.tip__percent:hover,
.tip__percent.active {
  background-color: var(--strongCyan);
  color: var(--darkCyan);
}

.tip__custom {
  background-color: var(--veryLightGrayishCyan);
  border-radius: 0.5rem;
  border: none;
  color: var(--darkCyan);
}

.tip__custom::placeholder {
  color: var(--darkGrayCyan);
}

.calculation__container {
  background-color: var(--darkCyan);
  border-radius: var(--borderRadius);
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  gap: 4rem;
  padding: 4rem;
}

.calculation__tip,
.calculation__total {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(2, auto);
  overflow-x: scroll;
}

.calculation__title {
  grid-column: 1/2;
  grid-row: 1/2;
}

.calculation__per {
  font-size: 1.4rem;
  grid-column: 1/2;
  grid-row: 2/-1;
}

.calculation__price {
  color: var(--strongCyan);
  font-size: 4.6rem;
  grid-column: 2/-1;
  grid-row: 1/-1;
  justify-self: flex-end;
  max-width: 100%;
  overflow-x: scroll;
}

.calculation__per {
  color: var(--darkGrayCyan);
}

.calculation__reset {
  background-color: var(--strongCyan);
  color: var(--darkCyan);
  font-size: 2rem;
  height: 5rem;
  margin-inline: auto;
  margin-top: auto;
  text-transform: uppercase;
  width: 100%;
}

.calculation__reset:hover {
  background-color: var(--lightGrayCyan);
}

@media (max-width: 912px) {
  body {
    display: flex;
    justify-content: center;
  }

  main {
    gap: 4rem;
    margin-bottom: 0;
  }

  .logo {
    margin-top: 5rem;
    width: 8rem;
  }

  .calculator {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    display: flex;
    flex-direction: column;

    height: auto;
    padding: 3rem 1rem;
    width: 100%;
  }

  .tip__options {
    grid-template-columns: repeat(2, 1fr);
  }

  .calculation__container {
    margin-inline: auto;
    padding: 2rem;
    width: 95%;
  }

  .calculation__price,
  .tip__button {
    font-size: 2.4rem;
  }
}
